<!DOCTYPE html>

<html lang="en">

<head>
    <link href="/static/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Hellon Median</title>
</head>

<body>

    <div class="container">
        <h1>Hellon Python / Flask demo</h1>
        <div class="section">
            <h2>Add at least 10 numbers to calculate median</h2>
            <form action="/" method="post">
                <input autocomplete="off" name="number" placeholder="e.g. 4.2" type="text" autofocus>
                <input type="submit" value="Add number">
                <!-- TODO: ADD DELETE NUMBERS BUTTON?? -->
            </form>
        </div>
        <div class="section">
            <p>
                Numbers: 
                {% for n in numbers %}
                {{n}},
                {% endfor %}
            </p>
            <p>
                Median: {{ median }}
            </p>
        </div>
        <div class="section">
            <h2>Or add list of numbers</h2>
            <form action="/list" method="post">
                <input autocomplete="off" name="list" placeholder="e.g. [4.55, 2.1, 3.14 ...]" type="text">
                <input type="submit" value="Add numbers">
            </form>
        </div>
    </div>
</body>

</html>